:root {
    --destaqueClaro: #5b5bca;
    --destaqueEscuro: #46469c;
}
body,html {
    margin: 0;
    width: 100%;
    height: 100%;
    /* overflow: hidden; */
    font-family:
    'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}
p {
    margin: 0.5em;
}
input[type="number"] {
    width: 5em;
}
fieldset {
    flex-grow: 2;
    margin: 0;
    padding: 0;
    border: 0;
    background-color: #EEE;
    border-left: 1px outset #FFF4;
    border-right: 1px outset #FFF4;
}
fieldset legend {
    width: calc(100% - 1em + 2px);
    background: linear-gradient(to right, var(--destaqueClaro), var(--destaqueEscuro));
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
    border-bottom: 1px solid #CCC;
    color: #FFF;
    font-weight: bold;
    font-variant: small-caps;
    padding: 0.5em;
    margin: 0 -1px;
}
a {
    color: #FFF;
    background-color: var(--destaqueClaro);
    text-decoration: none;
    border-radius: 10px;
    padding: 0em 0.5em;
}
a:hover {
    background-color: #7171da;
}
#config {
    display: flex;
    height: 16em;
    overflow: auto;
}
#representacaoEndereco table {
    width: calc(100% - 1em);
    margin: 0 0.5em;
}
#representacaoEndereco table td {
    width: 2em;
}
#representacaoEndereco .bit {
    border-left: 1px solid #0004;
}
#representacaoEndereco .tag {
    background-color: aquamarine;
    text-align: center;
}
#representacaoEndereco .conjunto {
    background-color: lightblue;
    text-align: center;
}
#representacaoEndereco .bloco {
    background-color: lightgreen;
    text-align: center;
}
#memoria {
    display: flex;
    width: 100%;
    height: calc(100% - 20em);
}
#memoria fieldset {
    position: relative;
    width: 50vw;
}
#mc {
    overflow-x: hidden;
    overflow-y: scroll;
    text-overflow: ellipsis;
    white-space: nowrap;
    height: 100%;
    position: relative;
    display: block;
}
#acessos {
    overflow-x: hidden;
    overflow-y: scroll;
    text-overflow: ellipsis;
    white-space: nowrap;
    height: 100%;
    width: auto;
    background-color: #EEE;
}
#acessos table {
    padding: 0em 1em;
    width: 100%;
}
#acessos table tr {
    height: 5em;
}
#acessos table tr:hover {
    background-color: #FFF;
}
#mc .conjunto {
    text-overflow: ellipsis;
    width: 50vw;
    overflow: hidden;
    position: relative;
    padding: 0.5em;
    background-color: #DDD;
    border-top: 1px outset #FFF8;
    border-bottom: 1px outset #FFF8;
}
#mc .conjunto .nomeConjunto {
    display: block;
}
#mc .linha {
    border-top: 1px outset #FFF8;
    border-bottom: 1px outset #FFF8;
    background-color: #EEE;
    margin-left: 1em;
    padding-left: 1em;
    white-space: nowrap;
    max-width: 100%;
    overflow: hidden;
    position: relative;
}
#mc .linha:hover {
    background-color: #FFF;
}
#mc .linha * {
    display: inline-block;
    padding: 0 1em;
    text-overflow: ellipsis;
    position: relative;
    white-space: nowrap;
}
#mc .linha .bloco {
    text-overflow: ellipsis;
}
.acesso {
    text-align: center;
    padding: 0.25em;
    font-weight: bold;
}
.lendo {
    background: linear-gradient(to right,#FF0,#0000,#FF0,#0000);
    background-size: 300%;
    background-position: 0% 0%;
    animation: leitura 1s linear infinite;
}
@keyframes leitura {
    0% {
        background-position: 100% 0%;
    }
    100% {
        background-position: 0% 0%;
    }
}
.falta {
    background-color: #e00000;
}
.acerto {
    background-color: #00e000;
}
.binario {
    font-family: monospace;
    white-space: nowrap;
}
#rodape {
    height: 4em;
    background: linear-gradient(to right, var(--destaqueClaro), var(--destaqueEscuro));
    color: #FFF;
    font-weight: bold;
    font-variant: small-caps;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    position: absolute;
    width: 100%;
    bottom: 0;
}
#rodape p {
    margin: 0;
    padding: 0em 1em;
    text-align: right;
}