:root {
    --destaqueClaro: #5b5bca;
    --destaqueEscuro: #46469c;
}
body,html {
    margin: 0;
    width: 100%;
    height: 100%;
    /* overflow: hidden; */
    font-family:
    'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}
.escondido {
    width: 0px !important;
    height: 0px !important;
    margin: 0px !important;
    padding: 0px !important;
}
p {
    margin: 0.5em;
}
input[type="number"] {
    width: 5em;
}
fieldset {
    flex-grow: 2;
    margin: 0;
    padding: 0;
    border: 0;
    background-color: #EEE;
    border-left: 1px outset #FFF4;
    border-right: 1px outset #FFF4;
}
fieldset legend {
    width: calc(100% - 1em + 2px);
    background: linear-gradient(to right, var(--destaqueClaro), var(--destaqueEscuro));
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
    border-bottom: 1px solid #CCC;
    color: #FFF;
    font-weight: bold;
    font-variant: small-caps;
    padding: 0.5em;
    margin: 0 -1px;
}
a {
    color: #FFF;
    background-color: var(--destaqueClaro);
    text-decoration: none;
    border-radius: 10px;
    padding: 0em 0.5em;
}
a:hover {
    background-color: #7171da;
}
#config {
    display: flex;
    height: 16em;
    overflow: auto;
}
#representacaoEndereco table {
    width: calc(100% - 1em);
    margin: 0 0.5em;
}
#representacaoEndereco table td {
    width: 2em;
}
#representacaoEndereco .bit {
    border-left: 1px solid #0004;
}
#representacaoEndereco .tag {
    background-color: aquamarine;
    text-align: center;
}
#representacaoEndereco .conjunto {
    background-color: lightblue;
    text-align: center;
}
#representacaoEndereco .bloco {
    background-color: lightgreen;
    text-align: center;
}
#memoria {
    display: flex;
    width: 100%;
    height: calc(100% - 20em);
}
#memoria fieldset {
    position: relative;
    width: 50vw;
}
#acessos {
    overflow-x: hidden;
    overflow-y: scroll;
    text-overflow: ellipsis;
    white-space: nowrap;
    height: calc(100% - 5em);
    width: auto;
    background-color: #EEE;
}
#acessos table {
    padding: 0em 1em;
    width: 100%;
    white-space: break-spaces;
}
#acessos table tr {
    height: 5em;
}
#acessos table tr:hover {
    background-color: #FFF;
}
#resumoAcessos {
    height: 5em;
    width: 100%;
    background-color: #DDD;
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    align-items: baseline;
    align-content: stretch;
}
#resumoAcessos * {
    border-left: 1px outset #FFF8;
    border-right: 1px outset #FFF8;
    padding: 0.5em;
    margin: 0em;
    flex-grow: 2;
}
#mc {
    overflow-x: hidden;
    overflow-y: scroll;
    text-overflow: ellipsis;
    white-space: nowrap;
    height: 100%;
    position: relative;
    display: block;
}
#mc .conjunto {
    width: 50vw;
    overflow: hidden;
    position: relative;
    padding: 0.5em;
    background-color: #DDD;
    border-top: 1px outset #FFF8;
    border-bottom: 1px outset #FFF8;
}
#mc .conjunto .nomeConjunto {
    display: block;
}
#mc .linha {
    border-top: 1px outset #FFF8;
    border-bottom: 1px outset #FFF8;
    background-color: #EEE;
    margin-left: 1em;
    padding-left: 1em;
    white-space: nowrap;
    width: auto;
    display: flex;
}
#mc .linha:hover {
    background-color: #FFF;
}
#mc .linha * {
    display: inline-block;
    padding: 0em 0.5em;
    position: relative;
    white-space: nowrap;
}
#mc .linha .numLinha {
    padding: 0em;
    width: 2em;
    flex-shrink: 0;
}
#mc .linha .descritivo {
    display: block;
    width: auto;
    padding: 0;
    user-select: none;
}
#mc .linha .valor {
    padding: 0;
}
#mc .linha .blocos {
    width: fit-content;
    padding: 0;
    overflow: auto;
}
#mc .linha .blocos .enderecos {
    background-color: #DDD;
    overflow: hidden;
    width: 100%;
    position: relative;
    padding: 0.1em 0;
}
#mc .linha .blocos .enderecos .scroller {
    opacity: 0;
    transition: 0.25s ease-in-out;
    position: sticky;
    background-color: var(--destaqueEscuro);
    color: #FFF;
    font-weight: bold;
    font-variant: small-caps;
    padding: 0 0.5em;
    cursor: pointer;
    user-select: none;
    z-index: 1;
}
#mc .linha .blocos .enderecos .scroller.esq {
    left: 0px;
}
#mc .linha .blocos .enderecos .scroller.dir {
    right: 0px;
}
#mc .linha:hover .blocos .enderecos .scroller {
    opacity: 1;
}
#mc .linha .blocos .enderecos .scroller:hover {
    background-color: var(--destaqueClaro);
}
#mc .linha .blocos .enderecos .bloco {
    border-left: 1px outset #FFF8;
    border-right: 1px outset #FFF8;
    background-color: #CCC;
    width: 2em;
    max-width: 2em;
    padding: 0;
}
#mc .linha .blocos .enderecos .bloco:hover {
    background-color: #EEE;
}
.acesso {
    text-align: center;
    padding: 0.25em;
    font-weight: bold;
}
.lendo {
    background: linear-gradient(to right,#FF0,#0000,#FF0,#0000);
    background-size: 300%;
    background-position: 0% 0%;
    animation: leitura 1s linear infinite;
}
@keyframes leitura {
    0% {
        background-position: 100% 0%;
    }
    100% {
        background-position: 0% 0%;
    }
}
.falta {
    background-color: #e00000 !important;
}
.acerto {
    background-color: #00e000 !important;
}
.binario {
    font-family: monospace;
    white-space: nowrap;
}
#rodape {
    height: 4em;
    background: linear-gradient(to right, var(--destaqueClaro), var(--destaqueEscuro));
    color: #FFF;
    font-weight: bold;
    font-variant: small-caps;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    position: absolute;
    width: 100%;
    bottom: 0;
}
#rodape p {
    margin: 0;
    padding: 0em 1em;
    text-align: right;
}